<li class="list-group-item d-flex justify-content-between lh-sm">
  <div >
      <h6 class="my-0">{{item.product.name}}</h6>
      <small class="text-muted">Best Quality</small>
  </div>
  <span>
    <div class="input-group number-spinner">

      <input type="number" class="form-control text-center " style="width: 60px;" min="1" size="1"
      [(ngModel)]="quantity" (ngModelChange)="quantityChanged($event)"      >

    </div>
  </span>
  <span class="text-muted">{{this.subtotal}}</span>
  <span class="glyphicon glyphicon-plus" (click)="deleteItem(this.item.id)"><i class="fa fa-trash" aria-hidden="true"></i></span>
</li>
